// Primary 
$CTAtext: hsl(356, 100%, 66%) ;
$CTAhoverbackground: hsl(355, 100%, 74%) ;
$headings: hsl(208, 49%, 24%) ;

// ### Neutral 

$text: hsl(0, 0%, 100%) ;
$footertext: hsl(240, 2%, 79%) ;
$bodycopy: hsl(207, 13%, 34%) ;
$ooterbackground: hsl(240, 10%, 16%) ;

// ### Gradient Background gradient -Intro/CTA mobile nav: 
$CTAmobilelight: hsl(13, 100%, 72%) ;
$CTAmobileLightred: hsl(353, 100%, 62%) ;

// Background gradient -body: 

$Verydarkgrayblue:hsl(237,17%,21%);
$Verydarkdesaturatedblue:hsl(237,23%,32%);
