@use "./colors" as c;
@use "./mixins" as *;

*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1rem;
    transition: background 300ms ease-in;


}
body{
    background:c.$bgbody ;
}
.container{
    width:min(100%,1440px);
    margin-inline:auto;
    
}
.content{
     width:min(95%, 1105px);
     margin-inline:auto;
}
.topcontent{
     width:min(100%, 1300px);
    margin-left: 8.8em;
    @include responsive(xl){
        margin-left:0;
    }
}
.lastcontent{
        width: min(100%, 1300px);
        margin-right: 8.8em;
        @include responsive('xl'){
            margin-right: auto;
        }
}
