@use "./colors" as c;

*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1rem;

}
body{
    background:c.$bgbody ;
}
.container{
    width:min(100%,1440px);
    margin-inline:auto;
    
}
.content{
     width:min(100%, 1105px);
     margin-inline:auto;
}
.topcontent{
     width:min(100%, 1300px);
    margin-left: 8.8em;
}
.lastcontent{
        width: min(100%, 1300px);
        margin-right: 8.8em;
}