@use "../partials/colors" as c;
header {
    width: 100%;
    height: 37.5em;
    background: url("../images/bg-pattern-intro-desktop.svg"),
    linear-gradient(to right, c.$CTAmobilelight, c.$CTAmobileLightred);
    background-size:150%;
    background-position: 25% 55% ;
    background-repeat: no-repeat;
    border-bottom-left-radius: 6em;
}

main{
    h2{
        font-family: Olight;
        color: c.$Verydarkdesaturatedblue;
        font-size:2.4em;
    }
}
.info__right{
    margin-top: -15.2em;
    background-image: url("/images/illustration-editor-desktop.svg");
}
.para{
    h1{
        font-family: Osemibold;
        color: c.$Verydarkdesaturatedblue;

    }
    p{
        font-family: Olight;
        color: c.$bodycopy;
    }
}