@use "../partials/colors" as nc;
@use "../partials/mixins" as *;
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 3.8em;
  .ham {
    $size: 30px;
    width: $size;
    height: $size;
    background-image: url("/images/icon-hamburger.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
    &.active {
      background-image: url("/images/icon-close.svg");
    }
    @include responsive("sm") {
      display: block !important;
    }
  }
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4em;

  nav {
    ul {
      display: flex;
      flex-direction: row;
      gap: 2em;
      @include responsive("sm") {
        width: 85%;
        flex-direction: column;
        position: absolute;
        left: 30px;
        // margin-top: 2em;
        border-radius: 5px;
        background: #fff;
        // justify-content: center;
        align-items: center;
        padding: 2em;
        height: 100%;
      }
      div {
        position: relative;
        @include responsive("sm") {
          top: 0;
          width: fit-content;
        }
        .showdropdown {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          height: 100%;
          @include responsive("sm") {
            position: relative;
            left: 0;
            top: 0;
            visibility: visible;
            opacity: 1;
          }
          .dropdown {
            position: absolute;
            left: 0;
            top: 0;
            
            ul {
              gap: 1em;
                background: #fff;
                @include responsive("sm") {
                  background: hsla(240, 3%, 79%, 0.274);
                }
              li {
                a {
                  color: nc.$Verydarkdesaturatedblue;
                  font-family: "Uregular";
                  font-size: 1em;
                  @include responsive("sm") {
                    font-size: 1.3em;
                    font-family: 'Osemibold';
                    color: nc.$bodycopy;
                    &:hover{
                       border-bottom: 0px solid nc.$text;
                    }
                  }

                  &:hover {
                    color: nc.$Verydarkgrayblue;
                    font-family: "Ubold";
                  }
                }
              }
            }
          }
        }
        &:hover {
          a {
            background-position-y: 5px;
            border-bottom: 1px solid nc.$text;
            transition: border-bottom 300ms ease;
          }

          #bg {
            transform: rotate(180deg);
            transition: transform 250ms ease;
          }

          .showdropdown {
            opacity: 1;
            visibility: visible;
            transition: opacity 200ms ease, visibility 250ms ease-in;
          }
        }
      }
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;

        @include responsive("sm") {
          width: min-content;
        }

        a {
          color: nc.$text;
          font-family: "Osemibold";
          text-transform: capitalize;
          font-size: 1rem;
          padding-top: 0.5em;
          @include responsive("md") {
            font-size: 1.1em;
          }
          @include responsive("sm") {
            font-size: 1.4em;
            color: nc.$Verydarkgrayblue;
          }
        }
        #bg {
          $size: 0.7em;
          width: $size;
          height: $size;
          background-image: url("../images/icon-arrow-light.svg");
          background-repeat: no-repeat;
          background-size: contain;
          background-position-y: 3px;
          @include responsive("sm") {
            background-image: url("../images/icon-arrow-dark.svg");
          }
        }
      }
    }
  }
}
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  @include responsive("sm") {
    flex-direction: column;
    position: absolute;
  }
  a {
    text-transform: capitalize;
    font-family: "Ubold";
    color: nc.$text;
    font-size: 1rem;
  }
  .btn {
    color: nc.$CTAtext;
    &:hover {
      background: nc.$CTAhoverbackground;
      color: nc.$text;
    }
  }
}
#hey {
  &:hover {
    background: nc.$CTAhoverbackground;
    color: nc.$text;
    border: nc.$CTAhoverbackground;
  }
}

.middleContent {
  h1 {
    font-family: "Osemibold";
    font-size: 3.65rem;
    @include responsive("md") {
      font-size: 2.8em;
    }
  }

  p {
    font-family: "Olight";
    color: nc.$text;
    font-size: 1.2rem;
    padding: 0.8em 0;
    word-spacing: 2px;
  }

  .btns {
    font-family: "Ubold";
    a {
      color: nc.$text;
      padding: 0.8em 1.5em;
      border-radius: 2em;
      border: 2px solid nc.$text;
    }

    .btn {
      color: nc.$CTAtext;
    }
  }
}
